@import "../../../styles/fonts.css";

.main {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e5da;
}
.main h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #9eb7e5;
    text-align: center;
}