@import "../../styles/fonts/fonts.css";

main { 
    max-width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef5db;
}
main h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 58px;
    text-align: center;
    color: #fe5f55;
}